.container-personagem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container-personagem img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.container-personagem p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.chat-container {
    height: 352px;
    width: 355px;
    background-color: #f7f7f7;
    padding: 6px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.mensagem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mensagem p {
    margin: 0;
    font-size: 14px;
}

.mensagem-personagem {
    align-self: flex-start;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 8px 12px;
    max-width: 70%;
    margin-bottom: 5px;
}

.mensagem-jogador {
    align-self: flex-end;
    background-color: rgba(155, 140, 170, 0.5);
    border-radius: 10px;
    padding: 8px 12px;
    max-width: 70%;
    margin-bottom: 5px;
}

.input-wrapper {
    margin-top: 20px;
}

.input-wrapper textarea {
    width: 355px;
    padding: 4px;
    border: 1px solid #808080;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #000000;
    border-radius: 2px;
    resize: none;
    outline: none;
    overflow: auto;
}

.input-wrapper button {
    margin-top: 10px;
    padding: 4px 8px;
    background-color: #808080;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    cursor: pointer;
    outline: none;
}

.input-wrapper input:focus {
    border-color: #000000;
}

.input-wrapper button:hover {
    background-color: #a0a0a0;
}