.windowsQuestion-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.windowsQuestion-button {
    all:unset;
    width: 80%;
    border-color: #808080 #fff #fff #808080;
    border-style: solid;
    font-size: 1rem;
    font-family: Tahoma;
    padding: 0 1.2rem;
  }

.windowsQuestion-button:hover {
    border-color: #fff #808080 #808080 #fff;
    color: rgb(69, 25, 113);
}

.WindowsQuestionSelected {
    color: rgb(69, 25, 113);
    all:unset;
    width: 80%;
    border-style: solid;
    font-size: 1rem;
    font-family: Tahoma;
    padding: 0 1.2rem;
    border-color: #fff #808080 #808080 #fff;
}

.WindowsQuestionSelected:hover {
    border-color: #fff #808080 #808080 #fff;
    color: rgb(69, 25, 113);
}