.imagemBanner
{
    height: auto;
    max-width: 100%;
}

button
{
    margin:2px 2px 2px 0;
    float:right;
    height: 90%;
    width: auto;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding:0;
    font-size:9px;
    font-weight:bold;
    font-family:Tahoma;
    text-align:center;
}

.parteSuperior
{
    display: flex;
    flex-direction: row;
    margin:2px 0 0 1px;
    float:left;
    font-family:Tahoma;
    font-weight:bold;
    font-size:11px;
    width:100%;
    background:#000080;
    color:#FFF;
}

.botoesBanner
{
    display: flex;
    flex-direction: row;
}

.pagina
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#C0C0C0;
    border-width:1px;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    border-style:solid;
    position:absolute;
    padding:1px;
}