.imagemBanner {
  height: auto;
  max-width: 100%;
}

.windowsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 0;
  float: right;
  height: 90%;
  width: auto;
  background: #c0c0c0;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 0;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.parteSuperior {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px 0 8px;
  float: left;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 11px;
  width: calc(100% - 16px);
  background: rgba(143, 28, 127, 0.467);
  color: #fff;
  justify-content: space-between;
}

.botoesBanner {
  position: fixed;
  left: 20%;
  right: 20%;
  bottom: 0;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #c0c0c0;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  position: absolute;
  padding: 1px;
}

.paginaCorpo {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pastas {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
