.janelaItem {
  background-color: lightgray;
  margin-bottom: 30%;
  max-width: 80%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
}

.fundo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("https://i.pinimg.com/originals/17/2d/3c/172d3ca203948062edffc03aa5c412a3.gif");
  background-size: cover;
}

.janelaNome {
  margin-top: 30%;
  max-height: 30%;
  background-color: #dccfcf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
}

.tituloJanelaNome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(143, 28, 127, 0.467);
  font-family: Tahoma;
  font-weight: bold;
  font-size: 11px;
  color: white;
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
}

.windowsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 0;
  float: right;
  height: 25px;
  width: 25px;
  background: #c0c0c0;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 0;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.corpoJanelaNome {
  display: flex;
  flex-direction: row;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
}

.imagemSorteada {
  max-width: 80%;
  height: auto;
  display: flex;
  align-self: center;
  justify-self: center;
}

.fundoImagem {
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  max-width: 60%;
  max-height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("https://thumbs.dreamstime.com/b/transparent-designer-must-have-fake-background-39672616.jpg");
}
