#moedas {
  position: fixed;
  left: 10px;
  background-color: #ffffff;
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 11px;
  height: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.windowsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 0;
  float: right;
  height: 90%;
  width: auto;
  background: #c0c0c0;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  padding: 0;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.textoCorpo {
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

#footerJanelaAtras {
  background-color: rgb(124, 100, 147);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
}

#imagemItem {
  margin: 10px, 0, 10px, 0;
  width: 70%;
  height: 60%;
}

#janelaAtras {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 22%;
  height: 100px;
  width: 120px;
  background: #c0c0c0;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
}

#footerJanelaFrente {
  background-color: rgb(124, 100, 147);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
}

#janelaFrente {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 32%;
  left: 8%;
  height: 80px;
  width: 100px;
  background: #c0c0c0;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
}

#topo {
  background-color: rgb(201, 201, 201);
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: calc(100% - 4px);
  height: 40px;
}

#corpo {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-image: url(https://i.imgur.com/x6lpBYK.gif);
}

.imagemPasta {
  height: 50px;
  width: 50px;
}

#corpoEsq {
  height: 100%;
  width: 40%;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 11px;
}

#imagemPersonagem {
  height: 80%;
  width: 80%;
  background-image: url(https://thumbs.dreamstime.com/b/imitation-transparent-background-seamless-vector-illustration-69028332.jpg);
  overflow: hidden;
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
}

#corpoDir {
  position: relative;
  z-index: 1;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  align-self: center;
  background-color: rgb(220, 220, 220);
  height: 67%;
  width: 90%;
}

#todo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

#footer {
  background-color: rgb(201, 201, 201);
  border: 2px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 4px);
  height: 40px;
}

#botaoFechar {
  position: fixed;
  right: 10px;
}

#botaoBanner {
  width: 60px;
  margin-left: 10px;
}
