.janelaWindows {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #c0c0c0;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
}

.footerJanelaWindows {
  background-color: rgb(124, 100, 147);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
}

.botaoGeralWindows {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 2px 0;
  float: right;
  background: #c0c0c0;
  border-width: 2px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.textoCorpo {
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

#corpoStorage {
  background-color: #d9d9d9;
  border: #ffffff;
  border-style: solid;
  border-width: 20px;
  height: 80%;
}

#barraEndereco {
  margin-top: 8px;
  width: 90%;
  height: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#mostraEndereco {
  background-color: lightgray;
  height: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}
