p {
    margin: 0;
}

#corpoRecycle {
    background-image: url(https://thumbs.dreamstime.com/b/imitation-transparent-background-seamless-vector-illustration-69028332.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: scroll;
}

/* Painel Reciclagem */

.reciclar-painel {
    z-index: 2;
}

.recycle-cont {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.recycle {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.itens-folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.itens-folder .item-name {
    display: none;
    font-size: 16px;
}

.itens-folder:hover {
    cursor: pointer;
}

.itens-folder:hover .item-name {
    display: block;
}

/* Painel Tiros */

.trocar-painel {
    z-index: 1;
}

.troca-cont {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
}

.obter-text {
    font-size: 28px;
}

.tiros-text {
    font-size: 22px;
}

.button-troca-cont {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.button-troca {
    font-size: small;
    width: 8rem;
    height: 2rem;
}

.button-troca:hover {
    background-color: #b3b1b1;
}

/* Popup */

.troca-feita-painel {
    z-index: 3;
}

.recycle-feita {
    padding-top: 2rem;
}

.feita-text {
    font-size: 22px;
}