p {
    margin: 0;
}

/* Painel 1 */

.input-codigo {
    font-weight: bold;
    padding-top: 3rem;
}

.button-ok-cont {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.button-ok {
    font-size: small;
    width: 8rem;
    height: 2rem;
}

.button-ok:hover {
    background-color: #b3b1b1;
}

/* Painel 2 */

.loading-codigo {
    font-weight: bold;
    padding-top: 2rem;
}

.loading {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.text-loading {
    font-size: medium;
}

.text-system {
    font-size: small;
    margin-bottom: 4px;
}

.bar {
    width: 400px;
    height: 16px;
    border: 1px solid #b3b1b1;
    
    background: -webkit-linear-gradient(
        left,
        #00d328 15%,
        #0dd632 30%,
        #abf8aa 80%,
        #01b423 100%
    ) repeat;
}

/* Painel 3 */

.historic {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.text-verifiyng {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 4px;
}

.historic-codigo {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.img-loading {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}