.Conteudo-codigo {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px; */
    width: 100%;
    height: 100%;
    /* background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000; */
}

.input-codigo {
    font-weight: bold;
    padding-top: 3rem;
}

.button-ok-cont {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p {
    margin: 0;
}

.button-ok {
    font-size: small;
    width: 8rem;
    height: 2rem;
}

.button-ok:hover {
    background-color: #b3b1b1;
}

.loading-codigo {
    font-weight: bold;
    padding-top: 2rem;
}

.loading {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.text-loading {
    font-size: medium;
}

.text-system {
    font-size: small;
    margin-bottom: 4px;
}

.bar {
    width: 400px;
    height: 16px;
    border: 1px solid #b3b1b1;
    
    background: -webkit-linear-gradient(
        left,
        #00d328 15%,
        #0dd632 30%,
        #abf8aa 80%,
        #01b423 100%
    ) repeat;
}